.red-boll {
    display: inline-block;
    margin: 0 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-family: baidunumber-Medium;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}

.ant-table-cell {
    padding: 4px !important;
}